{% extends "base.html" %}
{% block title %}Публикации в категории - {{ slug_category }}{% endblock %}
              {% block a_class %}
              <a class="nav-link" href="{% url 'blog:index' %}">
              {% endblock %}
        {% block content %}
        <h1>Публикации в категории - {{ slug_category }}</h1>
        {% for post in filtered_posts %}
          <hr>
          <article>
            <ul>
              <li>
                Место: {{ post.location }}             
              </li>
              <li>
                Дата: {{ post.date }}
              </li>
              <li>
                Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
              </li>
            </ul>          
            <!-- Первые 10 слов -->
            <p>
              {{ post.text }}
            </p>
            <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
          </article>
        {% endfor %}
        {% endblock %}